<launch>
  <!-- <param name="use_sim_time" value="false" /> -->

  <!--<include file="$(find segwayrmp)/launch/ninebot_gx_configuration.launch" />-->
  <!-- <node pkg="segwayrmp" type="odom_base_link_tf_node" name="odom_base_link_tf_node" output="screen" /> -->
  <!-- Run the map server -->
 <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find segwayrmp)/maps/mymap.pgm my_map_resolution"/> -->
 <node name="map_server" pkg="map_server" type="map_server" args="$(find segwayrmp)/maps/my_map.yaml"/> 

  <!--move base-->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find segwayrmp)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find segwayrmp)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find segwayrmp)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find segwayrmp)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find segwayrmp)/param/base_local_planner_params.yaml" command="load" />
  </node>

   <!--启动 AMCL 节点 -->
 <!-- AMCL -->
  <!-- AMCL node -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <param name="odom_frame_id" value="odom"/>
    <param name="base_frame_id" value="base_link"/>
    <param name="global_frame_id" value="map"/>

    <param name="odom_model_type" value="diff"/>
    <param name="odom_alpha1" value="0.2"/>
    <param name="odom_alpha2" value="0.2"/>
    <param name="odom_alpha3" value="0.8"/>
    <param name="odom_alpha4" value="0.2"/>

    <param name="min_particles" value="500"/>
    <param name="max_particles" value="2000"/>
    <param name="kld_err" value="0.05"/>
    <param name="kld_z" value="0.99"/>
    <param name="update_min_d" value="0.2"/>
    <param name="update_min_a" value="0.5"/>
    <param name="resample_interval" value="1"/>
    <param name="transform_tolerance" value="0.1"/>
    <param name="recovery_alpha_slow" value="0.0"/>
    <param name="recovery_alpha_fast" value="0.0"/>

    <param name="gui_publish_rate" value="10.0"/>
    <param name="save_pose_rate" value="0.5"/>
    <param name="laser_min_range" value="0.2"/>
    <param name="laser_max_range" value="12.0"/>
    <param name="laser_max_beams" value="180"/>
    <param name="min_probability" value="0.0001"/>
    <param name="odom_topic" value="/odom"/>
    <param name="laser_topic" value="/scan"/>
  </node>
  <!-- TF -->
 <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="velodyne_to_base_link" args="x y z roll pitch yaw velodyne base_link"/> -->

  <!-- <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.10 0.0 0.12 0.0 0.0 0.0 laser base_link  100"/> -->
  <!-- static_transform_publisher x y z yaw pitch roll frame_id child_frame_id period_in_ms -->  

  <!-- <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link" args="0 0 0.5 0 0 0 base_link base_footprint 50" /> -->

</launch>