<launch>
  <!-- <param name="use_sim_time" value="false" /> -->

  <!--<include file="$(find segwayrmp)/launch/ninebot_gx_configuration.launch" />-->

  <!-- Run the map server -->
 <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find segwayrmp)/maps/mymap.pgm my_map_resolution"/> -->
  <include file="$(find gmapping)/launch/gmapping.launch"/> 
  <!--启动move base-->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find segwayrmp)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find segwayrmp)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find segwayrmp)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find segwayrmp)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find segwayrmp)/param/base_local_planner_params.yaml" command="load" />
  </node>
 <node name="rosconsole" pkg="rosconsole" type="set_logger_level" args="ros.gmapping.message_filter DEBUG" />
  <!-- TF -->
 <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link" args="0 0 0.5 0 0 0 base_link base_footprint 50" />
</launch>