<launch>
  <!-- Velodyne VLP-16 driver -->
  <arg name="calibration" default="/opt/ros/noetic/share/velodyne_pointcloud/params/VLP16db.yaml"/>

  <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
    <arg name="calibration" value="$(arg calibration)"/>
  </include>

  <!-- Point cloud to LaserScan conversion -->
  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
    <param name="target_frame" value="base_link"/>
    <param name="transform_tolerance" value="0.01"/>
    <param name="min_height" value="0.1"/>
    <param name="max_height" value="1.0"/>
    <param name="angle_min" value="-3.14159"/>
    <param name="angle_max" value="3.14159"/>
    <param name="angle_increment" value="0.0087"/>
    <param name="scan_time" value="0.1"/>
    <param name="range_min" value="0.2"/>
    <param name="range_max" value="100.0"/>
    <param name="use_inf" value="true"/>
    <param name="inf_epsilon" value="1.0"/>
    <remap from="cloud_in" to="velodyne_points"/>
    <remap from="scan" to="scan"/>
  </node>

  <!-- robot_localization -->
  <!-- <include file="$(find robot_localization)/launch/ekf_template.launch">
    <arg name="odom0" value="/odom"/>
    <arg name="odom0_config" value="true true true false false false"/>
    <arg name="imu0" value="/imu"/>
    <arg name="imu0_config" value="false false false true true true"/>
    <arg name="odom_frame" value="odom"/>
    <arg name="base_link_frame" value="base_link"/>
    <arg name="world_frame" value="odom"/>
  </include> -->

  <!-- gmapping -->
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <param name="odom_frame" value="laser_odom"/>
    <param name="map_update_interval" value="5.0"/>
    <param name="maxUrange" value="16.0"/>
    <param name="sigma" value="0.05"/>
    <param name="kernelSize" value="1"/>
    <param name="lstep" value="0.05"/>
    <param name="astep" value="0.05"/>
    <param name="iterations" value="5"/>
    <param name="lsigma" value="0.075"/>
    <param name="ogain" value="3.0"/>
    <param name="lskip" value="0"/>
    <param name="srr" value="0.1"/>
    <param name="srt" value="0.2"/>
    <param name="str" value="0.1"/>
    <param name="stt" value="0.2"/>
    <param name="linearUpdate" value="0.5"/>
    <param name="angularUpdate" value="0.436332"/>
    <param name="temporalUpdate" value="-1.0"/>
    <param name="resampleThreshold" value="0.5"/>
    <param name="particles" value="100"/>
    <param name="xmin" value="-100.0"/>
    <param name="ymin" value="-100.0"/>
    <param name="xmax" value="100.0"/>
    <param name="ymax" value="100.0"/>
    <param name="delta" value="0.05"/>
    <param name="llsamplerange" value="0.01"/>
    <param name="llsamplestep" value="0.01"/>
    <param name="lasamplerange" value="0.005"/>
    <param name="lasamplestep" value="0.005"/>
  </node>

  <!-- Static transform publisher for velodyne to base_link -->
  <node pkg="tf" type="static_transform_publisher" name="velodyne_to_base_link" args="0.0 0.0 0.0 0.0 0.0 0.0 velodyne base_link 100"/>
  
</launch>